{
  "extends": "surikat/es6",
  "env": {
    "node": true,
    "mocha": true
  },
  "plugins": [
    "react"
  ],
 "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
